body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: 0;
}

.header{
    width: 100vw;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;

    .content{
        width: 90vw;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        position: relative;
        font-size: 14pt;
        

        .left{
            width: 70px;
            height: 70px;
            background-color: lightblue;
        }

        .textarea{
            position: absolute;
            top: 35px;
            left: 250px;
        }

        .number{
            position: absolute;
            top: 37px;
            left: 1000px;
        }

        .bottonarea{
            position: absolute;
            top: 35px;
            right: 0;

            a{
                #bannerbtn{
                    border-radius: 3px;
                    background-color: lightblue;
                    color: aliceblue;
                    border-style: none;
                    font-size: 14pt;
                    box-shadow: 2px 2px 2px gray;
    
                    &:hover{
                        background-color: lightgray;
                        color: aliceblue;
                    }
    
                    &:active{
                        background-color: cadetblue;
                        color: aliceblue;
                    }
    
                }

            }


        

        }

    }
}

.itemA{
    width: 90vw;
    height: 200vh;
    margin-left: 160px;
    margin-top: 50px;

    

    .uparea{
        display: flex;
        margin-bottom: 50px;

        .img{
            width: 200px;
            height: 200px;
            background-color: cadetblue;
            border-radius: 10px;
        }

        p{
            font-size: 28pt;
            color: aliceblue;
            margin-left: 30px;
        }
    }

    .downarea{
        width: 80vw;
        height: 160vh;
        background-color: aliceblue;
        border-radius: 10px;
    }
}