body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: 0;
}

.header{
    width: 100vw;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;

    .content{
        width: 90vw;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        position: relative;
        font-size: 14pt;
        

        .left{
            width: 70px;
            height: 70px;
            background-color: lightblue;
        }

        .textarea{
            position: absolute;
            top: 35px;
            left: 250px;
        }

        .number{
            position: absolute;
            top: 37px;
            left: 1000px;
        }

        .bottonarea{
            position: absolute;
            top: 35px;
            right: 0;


            button{
                border-radius: 3px;
                background-color: lightblue;
                color: aliceblue;
                border-style: none;
                font-size: 14pt;
                box-shadow: 2px 2px 2px gray;

                &:hover{
                    background-color: lightgray;
                    color: aliceblue;
                }

                &:active{
                    background-color: cadetblue;
                    color: aliceblue;
                }

            }
        

        }

    }
}

.content{
    width: 100vw;

    .page{
        width: 20vw;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        position: relative;

        p{
            font-size: 16pt;
            color: aliceblue;
            margin: 0;
        }

        #inputarea{
            width: 300px;
            height: 25px;
            border-radius: 5px;
            margin-bottom: 20px;
            padding-left: 25px;
        }

        #emailIcon{
            position: absolute;
            top: 35px;
            left: 5px;
        }

        #questionIcon{
            position: absolute;
            top: 35px;
            left: 300px;
        }

        #lockIcon{
            position: absolute;
            top: 115px;
            left: 5px;
        }

        .checkarea{
            width: 300px;
            display: flex;
            font-size: 10pt;
            color: aliceblue;
            margin-bottom: 30px;

            #radio{
                font-size: 10pt;
            }

            .link{
                color: aliceblue;
                margin-left: 100px;
            }

        }

        .bottonarea{

            button{
                border-radius: 3px;
                background-color: cadetblue;
                color: aliceblue;
                border-style: none;
                font-size: 14pt;
                box-shadow: 2px 2px 2px gray;

                &:hover{
                    background-color: lightgray;
                    color: aliceblue;
                }

                &:active{
                    background-color: cadetblue;
                    color: aliceblue;
                }

            }
    }
}
}
